<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 600px;
        margin: 100px auto;
        border: 15px solid yellow;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>A new cat gif, meowww!</h4>
      <img src="{{url}}" />
      <p><small>Courtesy of <a href="https://pixabay.com/images/search/cat/">Pixabay.com</a></small></p>
    </div>
  </body>
</html>
